<div class="container">
    <ul class="nav nav-tabs" id="tabs_space">
      <li class="active">
        <%= link_to "Authorized", orders_path({status: "authorized"}) %>
      </li>
      <li>
        <%= link_to "Captured", orders_path({status: "captured"}) %>
      </li>
      <li>
        <%= link_to "Refunded", orders_path({status: "refunded"}) %>
        <%= link_to "Failed", orders_path({status: "error"}) %>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active">
        <table border="1" class="  table" >
          <tr>
          <th>No</th><th>Payment Id</th>
          <% @orders.each do |order|%>
            <tr>
            <td><%=order.id%></td>
            <td><%=link_to order.payment_id, order_path(order.id)%></td>
          <%end%>
        </table>
      </div>
    </div>
</div>


<script type="text/javascript" src="/js/bootstrap.min.js"></script>

