<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Actor" rel="stylesheet" type="text/css">
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
$(document).ready(function(){
  var options = {
      "key": "<%= "#{Figaro.env.MERCHANT_KEY_ID}" %>",
      "amount": "<%= "#{@product.price}" %>",
      "name": "<%= "#{@product.seller.name}" %>",
      "description": "<%= "#{@product.description}" %>",
      "image": "/images/product.jpg",
      "handler": function (response){
        var mapForm = document.createElement("form");
        mapForm.target = "_self";
        mapForm.method = "POST"; // or "post" if appropriate
        mapForm.action = "/purchase";

        var mapInput = document.createElement("input");
        mapInput.type = "text";
        mapInput.name = "payment_id";
        mapInput.value = response.razorpay_payment_id;
        mapForm.appendChild(mapInput);

        var mapInput2 = document.createElement("input");
        mapInput2.type = "text";
        mapInput2.name = "user_id";
        mapInput2.value = "<%= "#{current_user.id}" %>";

        var mapInput3 = document.createElement("input");
        mapInput3.type = "text";
        mapInput3.name = "product_id";
        mapInput3.value = "<%= "#{@product.id}" %>";

        mapForm.appendChild(mapInput);
        mapForm.appendChild(mapInput2);
        mapForm.appendChild(mapInput3);

        mapForm.submit();

      },
      "prefill": {
          "name": "<%= "#{current_user.name}" %>",
          "email": "<%= "#{current_user.email}" %>"
      },
      "notes": {
          "address": "Hello World"
      },
      "theme": {
          "color": "#198F69"
      }
  };
  $("#rzp-button1").click(function(e){
    var rzp1 = new Razorpay(options);
      rzp1.open();
      e.preventDefault();
  });

});
</script>
<div class="btn-group">
     <a href="#" class="btn btn-primary active">Manual </a>
    <a href="#" class="btn btn-primary"><i class="fa fa-chevron-circle-down"></i></a>
   <a href="/" class="btn btn-primary">Automatic</a>
  </div>
<div class="container">
  <div class="row">
    <div class="col-lg-2">
    </div>

    <div class="col-xs-4">
      <div class="product-place">
      <img src="/images/product.jpg" width="230px" height="219px">
      </div>
    </div>
    <div class="col-xs-4">
      <div class="product-summary">
        <h3><%= @product.title%></h3>
        <div class="rating"><img src="/images/rating.png"> 5 <span style='text-transform: uppercase;'>reviews</span></div>
        <p class="description"><%= @product.description %></p>
        <div class="pay">
          <input id="rzp-button1" type="button" value="Pay with razorpay" class="razorpay-payment-button">
        </div>
      </div>
    <div>
  </div>
</div>
<script type="text/javascript">
  $(".btn-group a:nth-child(3)").hide();
  $(".btn-group").hover(function(){
    $(".btn-group a:nth-child(3)").show();  
  });
</script>