<!DOCTYPE html>
<html>
  <head>
    <title>Razorpay</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

  </head>
  <body>
    <%=render "layouts/header"%>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
